/*
li {color: red;}
h1 {color: red;}
*/

/*
    상속
    상속이란 상위(부모, 조상) 요소에 적용된 프로퍼티를 하위(자식, 자손) 요소가 물려 받는 것을 의미한다.

    부모의 컬러를 물려받고 다른 색상을 주고 싶은 것만 주는 것이 더 생산적이다.
*/
html {color: red;}

#select { color: black;}
body {border: 1px solid red;}

